[submodule "FabLabKasse/libs/flickcharm"]
	path = FabLabKasse/libs/flickcharm
	url = https://github.com/fau-fablab/flickcharm-python.git
[submodule "FabLabKasse/libs/naughtystrings"]
	path = FabLabKasse/libs/naughtystrings
	url = https://github.com/minimaxir/big-list-of-naughty-strings.git
	branch = master
