python-dateutil
lxml
termcolor
pyserial
qrcode
docopt
requests
simplejson
Sphinx
natsort
monotonic
portalocker
future
qtpy

python-escpos==2.2.0

# testing
hypothesis

# clis (kassenbuch.py)
argparse
argcomplete

# doc
sphinx_rtd_theme

# To read our product json
dataclasses-json
