python-dateutil
lxml
pycrypto
termcolor
pyserial
qrcode
docopt
requests
simplejson
Sphinx
natsort
monotonic
oerplib
portalocker==0.5.6

# dependency of escpos
Pillow

# testing
hypothesis<=1.19.0

# clis (kassenbuch.py)
argparse
argcomplete
