# ignore compiled ui file
*_rc.py

# legacy gitignore entries to ease transition from old master branch
DialogBoxUi.py
Kassenterminal.py
KeyboardDialog.py
PaymentMethodDialog.py
PayupCashDialog.py
PayupManualDialog.py
SelectClientDialog.py
StatisticsDialog.py

